<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>

<body id="page-top" class="home">
    <nav id="mainNav" class="navbar navbar-default navbar-static-top ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#about_us_section">Students First</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll top_17 fifteen" href="#about_us_section">STUDENTS</a>
                    </li>
                    <li>
                        <a class="page-scroll top_17 fifteen typeform-share" ng-click="Ctrl.goToMentors()">MENTORS</a>
                    </li>
                    <li class="btn_container nav_apply_btn">
                        <a class="fifteen page-scroll btn btn-primary btn-sm nav_btn typeform-share link" href="https://rmidha2.typeform.com/to/UE3GJh" data-mode="1" target="_blank">apply now</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Students First</h1>
                <hr>
                <p class="last_add">Canada's first student run university admissions consulting firm</p>
                <a class="btn btn-xl page-scroll learn_more" href="#about_us_section">Learn More</a>
            </div>
        </div>
    </header>
    <section class="bg-primary story" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Our Story</h2>
                    <hr class="light">
                    <p class="hold_p">Students First was founded by a group of undergraduates. We believe the best way for students to transition from high school to post-secondary education, is to draw upon the first-hand experience of current university students.
                   	</p>
                </div>
            </div>
        </div>
    </section>
    <section id="nav_follow_container">
    <nav id="secondNav" class="navbar nav_follow">
        <div class="container">
             <div class="row">
             	<span class="col-xs-9">
	                <a id="about_us" class="follow_a add_font" href="#about_us_section">
                		About Us
						<div class="follow_line about_us"></div>
	                </a>
	                <a id="how_we" class="follow_a add_font" href="#how_we_section">
						Programs and Services
						<div class="follow_line how_we"></div>
	                </a>
	                <a id="timeline" class="follow_a add_font" href="#timeline_section">
						How To Get Started
						<div class="follow_line timeline"></div>
	                </a>
	                <a id="faq" class="follow_a add_font" href="#faq_section">
						FAQ
						<div class="follow_line faq"></div>
	                </a>
	            </span>
                <span class="col-xs-3">
                	<a class="btn btn-primary btn- page-scroll follow_btn typeform-share link" href="https://rmidha2.typeform.com/to/UE3GJh" data-mode="1" target="_blank">APPLY NOW</a>
                </span>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    	
    </section>

    <span id="about_us_section"></span>

    <section class="content_container">
        <div class="container">
        	<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Students First</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            	<div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                    	<img class="icon" src="png/mortarboard.png">
                        <h3>100% Student Run</h3>
                        <p class="text-muted hold_desc">From the ground up our company is built entirely with students in mind and at top priority.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                    	<img class="icon" src="png/flag-1.png">
                        <h3>National Network</h3>
                        <p class="text-muted hold_desc">Our mentor partners are high caliber students, representing some of the best schools and programs in Canada.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                    	<img class="icon" src="png/social.png">
                        <h3>Community Driven</h3>
                        <p class="text-muted hold_desc">Our company is a community-based platform, built and run by students, for students. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blue_bg student_section">
	    <div class="container">
	        <div class="row">
	        	<span class="col-xs-12 col-sm-4 scroll_left_img">
	         		<div class="student_image"></div>       		
	        	</span>
	            <div class="col-xs-12 col-sm-6 scroll_right">
	                <p class="student_quote"><i class="fa fa-quote-left" aria-hidden="true"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
	                Lorem ipsum dolor sit amet, consectetur adipisicing<i class="fa fa-quote-right" aria-hidden="true"></i>
	               	</p>
	               	<p class="student_caption">- Brian Ma, Richard Ivey School of Business -</p>
	            </div>
	        </div>
	    </div>
	</section>
    <span id="close_about_us_section"></span>
    <span id="how_we_section"></span>
    <section class="content_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container intro_box">
            <div class="row">
                <div class="col-xs-12 col-md-8 text-center">
                    <div class="service_img"></div>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <div class="service-box  consultations_section">
                        <img class="phone" src="png/telephone.png">
                        <h3>Consultations</h3>
                        <p class="text-muted">We also offer one hour individual sessions to help students with basic assistance in any of the areas of service that we provide.</p>
                        <a class="btn btn-lg page-scroll book_cons typeform-share link" ng-click="Ctrl.showModal()" href="https://rmidha2.typeform.com/to/Y4oeHy" data-mode="1" target="_blank">Book Consultation</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="text-center">Mentorship Program</h3>
                        <p class="text-muted text-center hold_prog">Our Mentorship Program is designed to help guide students through each step involved in making a succesful transition from high school to University. Upon joining you will be paired with a mentor from one of your top schools of choice. He or she will meet up with you in regular intervals throughout the year to discuss schools, programs, campus life and your applications.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="blue_bg sub_container">
    	<div class="container margin-bottom">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading ">Mentorship Program Overview</h2>
                    <hr class="white">
                </div>
            </div>
        </div>
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12 col-sm-6">  				
                    <div class="row">
    					<span class="col-xs-2">
    						<img class="check" src="png/check-mark-black-outline.png">
    					</span>
    					<span class="col-xs-10">
    						<h4 class="sub_list">1:1 Student-Mentor Ratio</h4>
    						<p class="sub_p">We ensure a good match with a mentor from one of your top schools of choice.</p>
    					</span>
    				</div>
    				<div class="row">
    					<span class="col-xs-2">
    						<img class="check" src="png/check-mark-black-outline.png">
    					</span>
    					<span class="col-xs-10">
    						<h4 class="sub_list">Access to our Mentor Network</h4>
    						<p class="sub_p">You will be granted access to our entire network of mentors and be given the opportunity to reach out to them and inquire about other schools and programs.</p>
    					</span>
    				</div>
    			</div>
    			<div class="col-xs-12 col-sm-6">
                    <span class="secondCol">
        				<div class="row">
        					<span class="col-xs-2">
        						<img class="check" src="png/check-mark-black-outline.png">
        					</span>
        					<span class="col-xs-10">
        						<h4 class="sub_list">Essay Writing</h4>
        						<p class="sub_p">With coaching and assistance throughout the writing process, you will learn proper essay and application structure.</p>
        					</span>
        				</div>
        				<div class="row">
        					<span class="col-xs-2">
        						<img class="check" src="png/check-mark-black-outline.png">
        					</span>
        					<span class="col-xs-10">
        						<h4 class="sub_list">Interview Prep</h4>
        						<p class="sub_p">Your mentor will go over the most commonly asked interview questions, conducting mock interviews with you to ensure that you are well prepared for the process.</p>
        					</span>
        				</div>
                    </span>
    			</div>
    		</div>
       	</div>
    </section>
 

	<section class="content_container">
    	<div class="container">
    		<div class="row scroll_left">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A Step-by-Step Process</h2>
                    <hr class="primary">
                </div>
            </div>
    		<div class="row timeline_row">
            	<div class="col-xs-12 col-sm-12">
            			<div class="row step_space scroll_left">
            				<div class="col-xs-12 col-sm-1 step_icon">
 	            				<img class="step_i" src="png/university.png">				
            				</div>
            				<div class="col-xs-1 step_space_div">
            					<span class="step step1"></span>
            				</div>
            				<div class="col-xs-12 col-sm-9">
            					<h5 class="section-heading step1-head step_head">Choosing a School and Program</h5>
            					<p class="step_p text-muted">Your mentor will take you through the necessary steps to help you choose which schools and programs are a good fit for you. You will be given the chance to draw from your mentor's first-hand experiences in an open setting. he two of you will discuss everything from campus life to career prospects. You will also be invited to reach out to our mentor network to discuss similar topics with mentors from other schools and programs.
                                </p>
            				</div>
            			</div>           			
            			<div class="row step_space scroll_left">
            				<div class="col-xs-12 col-sm-1 step_icon">
 	            				<img class="step_i" src="png/edit.png">
 	            			</div>	
            				<div class="col-xs-1 step_space_div">
            					<span class="step step2"></span>
            				</div>
            				<div class="col-xs-12 col-sm-9">
            					<h5 class="section-heading step2-head step_head">Preparation and Planning of your Application</h5>
            					<p class="step_p text-muted">You will work with your mentor to carefully plan and outline the structure of your application. You will be advised on proper writing tools and techniques to ensure your application stands out from the crowd.</p>
            				</div>
            			</div>
            			<div class="row step_space scroll_left">
            				<div class="col-xs-12 col-sm-1 step_icon">
 	            				<img class="step_i" src="png/file-1.png">
 	            			</div>	
            				<div class="col-xs-1 step_space_div">
            					<span class="step step3"></span>
            				</div>
            				<div class="col-xs-12 col-sm-9">
            					<h5 class="section-heading step3-head step_head">Writing, Revision and Final Submission</h5>
            					<p class="step_p text-muted">You will receive feedback throughout the entire writing process, with notes, comments, and editorial assistance. When it's time for final submission you will be ready with an application perfectly tailored for the school and program to which you are applying</p>
            				</div>
            			</div>
            			<div class="row step_space scroll_left">
            			    <div class="col-xs-12 col-sm-1 step_icon">
 	            				<img class="step_i" src="png/social-1.png">				
            				</div>
            				<div class="col-xs-1 step_space_div">
            					<span class="step step4"></span>
            				</div>
            				<div class="col-xs-12 col-sm-9">
            					<h5 class="section-heading step4-head step_head">University Prep 101</h5>
            					<p class="step_p text-muted">Once admitted to University your mentor will take the time to discuss courses, residences, study tips, and general first year advice with you. You will also be added to our alumni network where you can begin to connect with other first year students well before the start of school.</p>
            				</div>
            			</div>

            	</div>
            </div>
    	</div>
    </section>

    </section>
    <span id="close_how_we_section"></span>
    <span id="timeline_section"></span>
    <section class="bg-primary sub_container">
        <div class="container">
            <div class="row scroll_up">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading ">Application Process</h2>
                    <hr class="white">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center scroll_up">
                    <div class="service-box">
                    	<img class="application" src="png/file.png">
                        <h3>1. Online Application</h3>
                        <p>Submit your application to give us a chance to get to know you a little better!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center scroll_up">
                    <div class="service-box">
                    	<img class="application" src="png/technology.png">
                        <h3>2. Chat With a Team Member</h3>
                        <p>One of our team members will reach out to discuss your application and how we intend to help you get most out of your mentorship.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center scroll_up">
                    <div class="service-box">
                    	<img class="application" src="png/user.png">
                        <h3>3. Meet Your Mentor</h3>
                        <p>You will be integrated into our communication platform, it's time for you and your mentor to connect!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<span id="close_timeline_section"></span>
<span id="faq_section"></span>
<section class="faq_section content_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center scroll_up_faq">
                    <h2 class="section-heading">Frequently Asked Questions</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container scroll_up_faq">
            <div class="row faq_bar faq_bar_top" ng-click="Ctrl.showAnswer(1,'i1')">
        		<div class="col-xs-12 cursor">
        			<span class="question">What differentiates your Students First from other admissions consulting companies?</span>
            		<img id="i1" src="img/down-arrow.png" class="position_icon">
        		</div>
            	<div class="col-xs-12">
            		<div id="1" class="answer text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            	</div>   
            </div>
            <div class="row faq_bar" ng-click="Ctrl.showAnswer(2,'i2')">
            	<div class="col-xs-12 cursor">
        			<span class="question">Will I receive an honest assessment of my top-choice admission prospects?</span>
            		<img id="i2" src="img/down-arrow.png" class="position_icon">
        		</div>
            	<div class="col-xs-12">
            		<div id="2" class="answer text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            	</div>  
            </div>
            <div class="row faq_bar" ng-click="Ctrl.showAnswer(4,'i4')">
                <div class="col-xs-12 cursor">
                    <span class="question">What payment options do you offer?</span>
                    <img id="i4" src="img/down-arrow.png" class="position_icon">
                </div>
                <div class="col-xs-12">
                    <div id="4" class="answer text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>  
            </div>
            <div class="row faq_bar" ng-click="Ctrl.showAnswer(5,'i5')">
                <div class="col-xs-12 cursor">
                    <span class="question">Will you write my essays and personal statements for me?</span>
                    <img id="i5" src="img/down-arrow.png" class="position_icon">
                </div>
                <div class="col-xs-12">
                    <div id="5" class="answer text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>  
            </div>
            <div class="row faq_bar" ng-click="Ctrl.showAnswer(6,'i6')">
                <div class="col-xs-12 cursor">
                    <span class="question">Who will be my Mentor?</span>
                    <img id="i6" src="img/down-arrow.png" class="position_icon">
                </div>
                <div class="col-xs-12">
                    <div id="6" class="answer text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>  
            </div>
            <div class="row faq_bar" ng-click="Ctrl.showAnswer(7,'i7')">
                <div class="col-xs-12 cursor">
                    <span class="question">How will I work with my Mentor?</span>
                    <img id="i7" src="img/down-arrow.png" class="position_icon">
                </div>
                <div class="col-xs-12">
                    <div id="7" class="answer text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>  
            </div>
            <div class="row faq_bar" ng-click="Ctrl.showAnswer(8,'i8')">
                <div class="col-xs-12 cursor">
                    <span class="question">Do I have to work with a Mentor who lives near me?</span>
                    <img id="i8" src="img/down-arrow.png" class="position_icon">
                </div>
                <div class="col-xs-12">
                    <div id="8" class="answer text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>  
            </div>
            <div class="row faq_bar faq_bar_bottom" ng-click="Ctrl.showAnswer(3,'i3')">   
            	<div class="col-xs-12 cursor">
        			<span class="question">How did your company get started in the admissions consulting business?</span>
            		<img id="i3" src="img/down-arrow.png" class="position_icon">
        		</div>
            	<div class="col-xs-12">
            		<div id="3" class="answer text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            	</div>
            </div>
        </div>
    <span id="close_faq_section"></span>
</section>

<div class="row">
	<div class="col-xs-12 footer"></div>
</div>
<!-- consultation form -->
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
<!-- student form -->
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
<!-- mentor form -->
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
<!-- intercom -->
<script>
   window.intercomSettings = {
    app_id: 'hc6g7ba7'
};
   (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function")    {ic('reattach_activator');ic('update',intercomSettings);}else{var    d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args)   {i.q.push(args)};w.Intercom=i;function l(){var   s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/hc6g7ba7';var x=d.getElementsByTagName('script')   [0];x.parentNode.insertBefore(s,x);}if(w.attachEvent)   {w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
</script>
  
</body>